 body {
	margin: 0;
	padding: 0;
	background-color:black;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 4320px; 
	 overflow: hidden;
	 z-index:0;
	 background-color:black;
	 display:flex;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 4320px;
	 z-index:1;
} 

 #Layer1 
{ 
	 left: 599px; 
	 top: 3781px; 
	 position: absolute; 
	 width: 73px;
	 height: 73px;
	 z-index:2;
} 

 #Layer2 
{ 
	 left: 1169px; 
	 top: 3778px; 
	 position: absolute; 
	 width: 77px;
	 height: 76px;
	 z-index:3;
} 

 #ZEITWEITZ 
{ 
	 left: 522px; 
	 top: 3942px; 
	 position: absolute; 
	 width: 227px;
	 height: 27px;
	 z-index:4;
} 

 #THECOOLXKIDS 
{ 
	 left: 478px; 
	 top: 3998px; 
	 position: absolute; 
	 width: 315px;
	 height: 27px;
	 z-index:5;
} 

 #OLDINGLISH 
{ 
	 left: 508px; 
	 top: 4055px; 
	 position: absolute; 
	 width: 257px;
	 height: 27px;
	 z-index:6;
} 

 #SIRMIKE 
{ 
	 left: 544px; 
	 top: 4112px; 
	 position: absolute; 
	 width: 182px;
	 height: 27px;
	 z-index:7;
} 

 #ZEITWEITZ_0 
{ 
	 left: 1093px; 
	 top: 3941px; 
	 position: absolute; 
	 width: 228px;
	 height: 27px;
	 z-index:8;
} 

 #THECOOLXKIDS_0 
{ 
	 left: 1050px; 
	 top: 4003px; 
	 position: absolute; 
	 width: 314px;
	 height: 27px;
	 z-index:9;
} 

 #CHUCKISDOPE 
{ 
	 left: 1061px; 
	 top: 4055px; 
	 position: absolute; 
	 width: 292px;
	 height: 27px;
	 z-index:10;
} 

 #SIRMICHAELROCKS 
{ 
	 left: 1017px; 
	 top: 4112px; 
	 position: absolute; 
	 width: 381px;
	 height: 27px;
	 z-index:11;
} 

 #ZEITWEITZCOM 
{ 
	 left: 764px; 
	 top: 3485px; 
	 position: absolute; 
	 width: 377px;
	 height: 27px;
	 z-index:12;
} 

 #THECOOLXKIDSCOM 
{ 
	 left: 708px; 
	 top: 3600px; 
	 position: absolute; 
	 width: 489px;
	 height: 27px;
	 z-index:13;
} 

 #DSC00187 
{ 
	 left: 452px; 
	 top: -573px; 
	 position: absolute; 
	 width: 974px;
	 height: 1218px;
	 z-index:14;
} 

 #DSC00174 
{ 
	 left: 1426px; 
	 top: 0px; 
	 position: absolute; 
	 width: 502px;
	 height: 627px;
	 z-index:15;
} 

 #DSC00174copy 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 502px;
	 height: 627px;
	 z-index:16;
} 

 #blockmagsflyer 
{ 
	 left: 358px; 
	 top: 645px; 
	 position: absolute; 
	 width: 1162px;
	 height: 1162px;
	 z-index:17;
} 

 #Rectangle1 
{ 
	 left: 401px; 
	 top: 1073px; 
	 position: absolute; 
	 width: 418px;
	 height: 78px;
	 z-index:18;
} 

 #BLOCKMAGS 
{ 
	 left: 487px; 
	 top: 1101px; 
	 position: absolute; 
	 width: 234px;
	 height: 21px;
	 z-index:19;
} 

 #ZEITWEITZXTHECOOLKID 
{ 
	 left: 265px; 
	 top: 2118px; 
	 position: absolute; 
	 width: 1438px;
	 height: 1117px;
	 z-index:20;
} 
